
/* Site wide */
* {
  /* border: 0; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 0;
}

.app {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* HEADER */

header {
  padding-top: 5px;
  font-size: xx-large;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #03258c;
}

.navbar {
  background-color: #7789bf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  width: 98%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  justify-self: center;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  background-color: #7789bf;
  list-style: none;
}

h2 {
  color: #03258c;
}

/* POST BODY */
.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0;
}


.post-page {
  background-color: #7789bf;
  width: 58%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.post-card {
    background-color: #f2f2f2;
    padding: 0.5rem;
    margin: 0.5rem;
}

.post-title {
  color: #03258c;
}

.button {
    background-color: #f2f2f2;
    border-radius: 10%;
    align-items: center;
    font-size: large;
  
  }
  .button #text {
      display: flex;
      margin-bottom: 10px;
      align-items: center;
  }
  
  .button #message.button {
      padding-bottom: 0px;
  }
  
  .img {
      padding-bottom: 0;}
      
  button {
    background-color: #f2f2f2;
    padding: 0.5rem;
    margin: 0.25rem;
    font-size: 13px;
    width: fit-content;
  }
  
  button img {
    height: 13px;
    width: 13px;
    border-radius: 0;
    margin-right: 5px;
  }
  

/* NEW POST SPECIFIC */
.newpost-page {
  width: 38%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: #7789bf;
  height: fit-content;
  color: #03258c;
}

.newpost-form {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  color: #03258c;
}

.newpost-form input,
.newpost-form textarea {
  padding: 0.5rem;
  border: 2px solid #1f3b73;
  margin-bottom: 1rem;
}

.newpost-form textarea {
  height: 10rem;
  resize: none;
}

.newpost-form button {
  align-self: flex-end;
  color: #03258c;
}

/* REGISTER SPECIFIC */

.form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #03258c;
}

.register-page input,
.register-page textarea {
  padding: 0.5rem;
  border: 2px solid #1f3b73;
  margin-bottom: 1rem;
  color: #03258c;
}

.register-form button {
  align-self: flex-end;
  color: #03258c;
}

/* LOGIN SPECIFIC */

.login-page input,
.login-page textarea {
  padding: 0.5rem;
  border: 2px solid #1f3b73;
  margin-bottom: 1rem;
}
