.navbar {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.container {
    display: flex;
    width: 100vw;
}

.post-page {
    background-color: azure;
    width: 70%;

}

.newpost-page {
    width: 30%;
}

.newpost-form {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    width: 100%;

}